! Configuration File for keepalived

vrrp_instance VI_1 {
    state {{ state }}
    interface enp0s8
    virtual_router_id 142
    priority {{ priority }}
    authentication {
        auth_type PASS
        auth_pass FE1
    }
    virtual_ipaddress {
        192.168.4.4
    }
}
